.venv/

# Кеші Python
__pycache__/
*.py[cod]
*.pyo

# Кеші та лог-файли Sphinx
docs/_build/
docs/.doctrees/
docs/.pytest_cache/
docs/.sass-cache/

# Sphinx автогенеровані LaTeX файли
docs/_build/latex/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.idx
*.pdf

# Локальні файли IDE
.idea/
.vscode/
*.swp
*.swo

# OS/системні
.DS_Store
Thumbs.db

